<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1} - %m%n</Property>
        <Property name="basePath">D:/chandrasekhar/logs</Property>
        <Property name="currentDate">${date:yyyy-MM-dd}</Property>
    </Properties>
 
    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        
        <RollingFile name="fileLogger"
             fileName="${basePath}/HRMS-${currentDate}.log"
            filePattern="${basePath}/HRMS-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <!-- Max 10 files will be created every day -->
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${basePath}" maxDepth="10">
                    <!-- Delete all files older than 30 days -->
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
 
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="fileLogger" />
            <AppenderRef ref="console"/>
        </Root>

        <Logger name="controllers.HolidayController" level="info" additivity="false">
            <AppenderRef ref="fileLogger"/>
        </Logger>
    </Loggers>
</Configuration>