@charset "ISO-8859-1";
.attendancecontainer {
        max-width: 800px;
        margin: 40px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #FFFAF4;
    }

    h2 {
        color: #333;
        margin-top: 0;
    }

    .form-label {
        font-weight: bold;
    }

    .form-control {
        margin-bottom: 10px;
    }

    .download-section {
        margin-top: 40px;
    }

    .download-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background-color: #4F709C;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .info-message {
        margin-top: 20px;
        color: #555;
    }

    /* Styles for the file input */
    .file-input-label {
        display: inline-block;
        padding: 8px 12px;
        font-size: 14px;
        font-weight: normal;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
    }

    .file-input-label:hover {
        background-color: #f0f0f0;
    }

    .file-input-label::after {
        content: 'Browse';
        display: inline-block;
        padding: 6px 12px;
        margin-left: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        background-color: #4F709C;
        border-radius: 4px;
    }

    /* Hide the actual file input element */
    .file-input {
        display: none;
    }

    .attend-success-msg {
        color: #609966;
        font-weight: bold;
    }

    .attend-error-msg {
        color: 	#ff7b7b;
        font-weight: bold;
    }