/* Profile Container */
.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

/* Profile Details */
.profile-details {
  width: 70%;
  margin-right: 20px;
}

/* Personal Details */
.personal-details {
  background: linear-gradient(to bottom, #d4e4f7, #a3c7e9);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
}


.personal-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Work Details */
.work-details {
background: linear-gradient(to bottom, #d4e4f7, #a3c7e9);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.work-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Form Group */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Profile Picture */
.profile-picture {
  width: 30%;
  text-align: center;
}

.profile-picture img {
  border-radius: 50%;
}

/* Button */
.btn {
	  display: block;
        margin: 0 auto; /* Center align the button horizontally */
        margin-top: 10px; /* Add top margin as needed */
           background-color: #4CAF50;
  padding: 10px 20px;

  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
